
        <h1>Tris</h1>
        <hr>

        <table id="scores">
            <tr><th><h3> Score </h3></th></tr>
            <tr><th><h4> Your score: <p id="player_score"> 0 </p></h4></th></tr>
            <tr><th><h4> Computers score: <p id="computer_score"> 0 </p></h4></th></tr>

            </tr>
        </table>

        <br>
        <hr>
        <h3 id="player_turn"> Your Turn </h3>
        <h3 id="computer_turn"> Computers Turn </h3>
        <h3 id="player_win">You Win</h3>
        <h3 id="computer_win">Computer Win</h3>
        <h3 id="tie">Tie</h3>
        <input type="button" value="New Game" id="new_game"/>
        <br><br>
        

        <table id="matrix">
            <tr id="matrix_0">
                <td id="matrix_0_0" class="matrix_cell">
                    <img class="o_img" src="o.jpg">
                    <img class="x_img" src="x.jpg">
                </td>
                <td id="matrix_0_1" class="matrix_cell">
                    <img class="o_img" src="o.jpg">
                    <img class="x_img" src="x.jpg">
                </td> 
                <td id="matrix_0_2" class="matrix_cell">
                    <img class="o_img" src="o.jpg">
                    <img class="x_img" src="x.jpg">
                </td>
            </tr>
            <tr id="matrix_1">
              <td id="matrix_1_0" class="matrix_cell">
                <img class="o_img" src="o.jpg">
                <img class="x_img" src="x.jpg">
              </td>
              <td id="matrix_1_1" class="matrix_cell">
                <img class="o_img" src="o.jpg">
                <img class="x_img" src="x.jpg">
              </td> 
              <td id="matrix_1_2" class="matrix_cell">
                <img class="o_img" src="o.jpg">
                <img class="x_img" src="x.jpg">
              </td>
            </tr>
            <tr id="matrix_2">
                <td id="matrix_2_0" class="matrix_cell">
                    <img class="o_img" src="o.jpg">
                    <img class="x_img" src="x.jpg">
                </td>
                <td id="matrix_2_1" class="matrix_cell">
                    <img class="o_img" src="o.jpg">
                    <img class="x_img" src="x.jpg">
                </td> 
                <td id="matrix_2_2" class="matrix_cell">
                    <img class="o_img" src="o.jpg">
                    <img class="x_img" src="x.jpg">
                </td>
            </tr>
          </table>
